@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color:  linear-gradient(to bottom, rgb(194, 6, 109) 40%, rgb(223, 19, 203) 60%, rgb(211, 13, 165));
    --main-color1:  linear-gradient(to bottom, rgb(235, 55, 154) 40%, rgb(169, 36, 156) );
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
    --border-color: rgb(194, 6, 125);
    --skills-shadowcolor:rgb(194, 6, 125);
    --skills-bordercolor:white;
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #0b061f;
    --skills-shadowcolor:#0b061f;
    --skills-bordercolor:rgb(194, 6, 125);
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    background: var(--main-color);
    background-clip: text;
    color: transparent;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
}
.home h2{
    font-size: 18px;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    margin-top: -50px;
    margin-bottom: 50px;
}

.home .home-content {
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-direction: column;
}

.home-content h3 {
    height: 45px;
    margin-bottom: 6rem;
    font-size: 3.4rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    background: linear-gradient(45deg, rgb(215, 77, 153) 40%, rgb(225, 77, 210) 60%, rgb(191, 23, 152));
   background-clip: text;
   color: transparent;
}

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--border-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid var(--border-color);
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    border-color: var(--border-color);
}


.home-img img {
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
}

span {
    background: var(--main-color);
    background-clip: text;
    color: transparent;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 4rem; */
}


.about-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    position: relative;
    width: 80%;
    /* box-shadow: 1px 1px 6px 2px black; */
    padding:13rem 8rem;
    margin-left: 0%;
    background-color: rgb(54, 49, 49);
    border-top: 12px solid var(--border-color);
    border-bottom: 12px  solid var(--border-color);
    border-top-left-radius: 50% 90%;
    border-bottom-right-radius: 40% 70%;
    color: white;
}
.about-content .container{
    width: 70%;
    text-align: center;

}
.about-img{
    position: absolute;
    width: 300px;
    height: auto;
    left: 10%;
    box-shadow: -1px -1px 6px 1px rgb(234, 158, 200);
    text-align: center;
    padding-bottom: 20px;
    z-index: 3;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.about-img img{
    width: 100%;
    height: 250px;
    padding: 20px;
}

.about .content{
    font-size: 16px;
    text-align: left;
}
.about .side-card{
    text-align: center;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.education {
    min-height: auto;
    padding-bottom: 10rem;
    font-size: 20px;
}

.education h2 {
    margin-bottom: 5rem;
}

.education .education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.education-container .education-section {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--border-color);
    border-bottom: .6rem solid var(--border-color);
    border-left: 1px dotted var(--border-color);
    border-right: 1px dotted var(--border-color);
    transition: .5s ease;
    height: 450px;
}

.education-container .education-section:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.education-section i {
    background: var(--main-color);
    background-clip: text;
    color: transparent;
}
.education-section img {
    width: 20rem;
    height: 20rem;
}

.education-section h4 {
    transition: .5s ease;
    font-size: 20px;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
}

.education-section:hover{
    background:linear-gradient(to bottom, rgb(231, 61, 214) 37%, rgb(194, 6, 109)) ;
    color: white;
    border: 3px solid var(--border-color);
    box-shadow: -2px -2px 5px 2px black;
}
.education-section:hover i,.education-section:hover h4{
    color: white;
}

.education-section p {
    display: flex;
    gap: 20px;
    align-items:  baseline;
    text-align:left ;
    font-size: 18px;
    margin: 1rem 0 0 2rem;
}



.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}
.backend-tech{
    display: flex;
    gap: 40px;
}
.frontend,.backend,.languages,.tools-tech{
    box-shadow: 2px 2px 6px 1px var(--skills-shadowcolor);
    border: 3px solid var(--skills-bordercolor);
    margin: 1.3rem;
    border-radius: 30px;
    text-align: center;
    padding:0px 20px;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}
.inner{
    width: 60px;
    height: 60px;
    background-color: white;
    /* padding: 6px; */
    border-radius: 20%;
    box-shadow: 2px 2px 5px  var(--border-color);
}
.inner img{
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}
/* .inner:hover{
    transform: scale(1.1);
} */
.inner img:hover{
    transform: scale(1.13);
    transition: 0.5s ease;
}
.skills-container .heading{
    margin-bottom: 3rem;
}
.skills-container h3{
    font-size: 26px;
    background: var(--main-color);
   background-clip: text;
   color: transparent;
   margin-top: 1rem;
}

.projects {
    min-height: auto;
    padding-bottom: 10rem;
}

.projects h2 {
    margin-bottom: 4rem;
}

.projects .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 2px 2px 6px gray;
    overflow: hidden;
}

.projects-box img {
    width: 100%;
    height: 200px;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--border-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.projects-box .projects-layer p{
    background: var(--main-color);
    background-clip: text;
    color: transparent;
}
.projects-box #edutech,.projects-box #storefront ,.projects-box #spotify,.projects-box #weather,.projects-box #skin,.projects-box #recruitment{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#333;
    color: var(--border-color);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 4px;
    padding-top: 6px;
    transition: .5s ease;
}
.projects-box #edutech p,.projects-box #skin p,.projects-box #recruitment p,.projects-box #weather p,.projects-box #storefront p,.projects-box #spotify p{
    color: white;
    font-size: 12px;
}
.projects-box #edutech h6,.projects-box #skin h6,.projects-box #recruitment h6,.projects-box #weather h6,.projects-box #storefront h6,.projects-box #spotify h6{
    background: var(--main-color1);
    background-clip: text;
    color: transparent;
    font-size: 13px;
}
.projects-box:hover .projects-layer {
    opacity: 1;
}


.projects-layer h4 {
    font-size: 2.5rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--white-color);
    border-radius: 50%;
    margin:10px 10px;
}
.projects-layer h6 i {
    font-size: 20px;
}
.projects-layer a i {
    font-size: 2.2rem;
    color: #333;
}
.projects-layer a i:hover {
    cursor: pointer;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: 1px solid var(--border-color);
    /* box-shadow: 2px 2px  5px 0.5px var(--border-color); */
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--border-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

   .about-content{
   margin-left: 10%;
   }
}

@media (max-width:1030px){
    .about {
        flex-direction: column;
        margin: 0px;
        gap: 30px;
    }
    .about-content{
        border: 3px solid rgb(194, 6, 109);
        border-radius: 20px;
    }
    .about-img{
        position: static;
    }
    .about-content{
        position:static;
        padding: 0px;
        margin: 0px;
        padding: 30px;
        text-align: center;
    }
    
    .about-content .container{
        padding: 0px;
        width: 100%;
    }
    .about-content h2 {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 991px) {

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 920px) {
    .projects .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        overflow-x: hidden;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        background: var(--main-color);
        background-clip: text;
        color: transparent;
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 30px;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }


    .about-content {
        width: 90%;
        font-size: 14px;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}
@media (max-width:720px){
    .backend-tech{
        flex-direction: column;
        gap: 10px;
    }
    .logos{
        padding: 30px 10px;
        gap: 20px;
    }
    .frontend, .backend, .languages, .tools-tech {
        padding: 0px 10px;
    }
    .skills-container h3 {
        font-size: 22px;
    }
    .inner{
        background-color: white;
        padding: 6px;
        border-radius: 20%;
        box-shadow: 2px 2px 5px  var(--border-color);
    }
}

@media (max-width: 610px) {
    .projects .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -325px);
    }

    .home .profession-container .overlay {
        top: 80rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .about-img {
        width: 250px;
    }
}

@media (max-width: 315px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}
img {
    border-radius: 20px;
}